\.DS_Store

index\.php
license\.txt
readme\.html
wp-admin/
wp-activate\.php
wp-blog-header\.php
wp-cli\.phar
wp-comments-post\.php
wp-config-sample\.php
wp-config\.php
wp-content/languages/
wp-content/plugins/
wp-content/logs/
wp-content/uploads/
wp-includes/
wp-cron\.php
wp-links-opml\.php
wp-load\.php
wp-login\.php
wp-mail\.php
wp-settings\.php
wp-signup\.php
wp-trackback\.php
wp-content/themes/twentynineteen/
wp-content/themes/twentyfifteen/
wp-content/themes/twentysixteen/
wp-content/themes/twentyseventeen/
wp-content/advanced-cache\.php
wp-content/cache/
xmlrpc\.php

*.yaml
*.sql